body {
    background-color: rgb(161, 6, 27);
    font-family: 'ubuntu';
    font-style: italic;
}
#first{
    color: aqua;
    background: white;
    padding: 30px;
    margin: auto;
}
h1 {
    color: rgb(236, 184, 13);
    margin-left: 20px;
    background: rgb(7, 7, 7);
}
.first{
    color: rgb(56, 202, 11);
    background: rgb(235, 15, 15);
}
.sec{
    color: aqua;
    background: white;
    padding: 10px;
    margin: auto;
}